.login-page {
	background-image: url(/images/background.jpg) !important;
	background-size: cover;
	opacity: 0.8;
}

.brand-image {
	border-radius: 10% !important;
}

#loading{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	position: fixed;
	z-index: 1051;
	text-align: center;
	padding-top: 100px;
	font-size: 1.5em;
	color: white;
	display: none;
}